p {
  margin: 1vw;
}

.court-terme {
  border: solid 1px;
  background-color: rgb(155, 233, 155);
  display: inline-block;
}

.moyen-terme {
  border: solid 1px;
  background-color: orange;
  display: inline-block;
}

.long-terme {
  border: solid 1px;
  background-color: lightblue;
  display: inline-block;
}

.terme {
  display: inline-block;
}

.task-zone {
  border: solid 1px;
  border-radius: 16px;
  padding: 1%;
  background-color: #ffec98;
  display: inline-block;
}
